[submodule "plugins/bootstrap"]
	path = plugins/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "plugins/Font-Awesome"]
	path = plugins/Font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "plugins/select2"]
	path = plugins/select2
	url = git://github.com/ivaynberg/select2.git
