$cdn_img : "//s.mysite-cdn.tk/";
$cdn_css : "//css.mysite-cdn.tk/";
$cdn_js  : "//js.mysite-cdn.tk/";
$img     : "//img.abhishekmunie.com/";
$css     : "//css.abhishekmunie.com/";
$js      : "//js.abhishekmunie.com/";
$static  : "//s.abhishekmunie.com/";