@charset "utf-8";

@import "base";
@import "animations/animations000";
@import "mySite";
@import "typography/typography";

/* ==========================================================================
 SITE SPECIFIC STYLES
 Author: Abhishek Munie
 ========================================================================== */
body {
  overflow: visible;
  display: block;
  margin: 0;
  padding: 0;
  direction: ltr;
  unicode-bidi: embed;
  background-color: #F5F6F7;
  background-attachment: fixed;
  background-position: center top;
  background-image: url(#{$cdn_img}img/bg/bg_matte.png);
  background-repeat: repeat;
  color: #333;
  font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Georgia,"Times New Roman",Verdana,sans-serif,Times,serif;
  text-align: center;
  min-width: 1000px;
  min-height: 100%;


  > nav,
  > header,
  > div,
  > span,
  > article {
    display: block;
    position: relative;
    left: 0;
    right: 0;
  }
}

@import "main000/blocks";

@import "main000/nav";
@import "main000/header";
@import "main000/home";
@import "main000/Abhishek";
@import "main000/science";
@import "main000/footer";

@import "main000/themes";
@import "main000/startup";