@charset "utf-8";

@import "base";
@import "plugins/h5bp/normalize";
@import "plugins/h5bp/h5bp";
@import "plugins/bootstrap/css/bootstrap-responsive";
@import "plugins/bootstrap/css/bootstrap";

/* ==========================================================================
 Primary styles
 Author: Abhishek Munie
 ========================================================================== */

html,
body {
  width: 100%;
  min-height: 100%;
}

@import "components/cufon";

@import "globals/golden-box";
@import "globals/file-icons";

@import "globals/special-imgs";

.initHidden {
  opacity: 1;
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -khtml-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
}

.loading .initHidden {
  opacity: 0
}

@import "globals/special-divs";

@import "components/bars";

@import "globals/shadows";
@import "components/overlay-theater";

@import "shared/alerts";

@import "shared/github";

.indentedList>li {
  margin-left: 25px
}

.homeIcon {
  background: url('#{$cdn_img}img/icons/home.png') no-repeat center center;
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  text-indent: -9999px;
}

@import "components/sky_background";
@import "components/slide_up_box";
@import "page_levels";
@import "plugins/google/cs/default-v2";
@import "plugins/jQuery/lightbox";


@import "components/expandable-img";
@import "components/faq";
@import "components/facebook";

@import "plugins/h5bp/footer";
@import "plugins/h5bp/mobile-footer";

@import "globals/print";

@import "media-queries";
