.fixed-ratio-box,
.golden-box,
.golden-box-flexi,
.golden-box-vertical,
.golden-box-vertical-flexi {
  display: inline-block;
}

.fixed-ratio-box > .dummy,
.golden-box > .dummy,
.golden-box-flexi > .dummy,
.golden-box-vertical > .dummy,
.golden-box-vertical-flexi > .dummy {
  width: 0;
  height: 0;
}

.golden-box > div.dummy,
.golden-box-flexi > div.dummy {
  margin-top: 61.80339887498948482045868343656381177203091798057628621354%;
}

.golden-box-vertical > div.dummy,
.golden-box-vertical-flexi > div.dummy {
  margin-top: 161.80339887498948482045868343656381177203091798057628621354%;
}

.fixed-ratio-box > {
  .content, *:not(.dummy) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.fixed-ratio-box-vertical > {
  .content, *:not(.dummy) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.golden-box > {
  .content, *:not(.dummy) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.golden-box-vertical > {
  .content, *:not(.dummy) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.golden-box > div.overflow_content,
.golden-box-vertical > div.overflow_content {
  position: absolute;
  top: 0;
  left: 0;
}

.golden-width! {}