.printer_friendly * {
  background: transparent !important;
  color: black !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

.printer_friendly a,
a:visited {
  color: #444 !important;
  text-decoration: underline;
}

.noprint {  display: none }