.cufon-active {
  h2 {
    font-size: 24px;
  }
  #mainContent h2 {
    margin-top: -5px;
    padding-bottom: 16px;
    line-height: 23px;
  }
}

.cufon-loading {
  .errorTemplate h1,
  h2,
  #siteNavigation li a,
  #secondNavigation li a,
  #slideshowNavigation li a,
  h4,
  h5 {
    visibility: hidden !important;
  }
}