/* ===[ Thanks: http://css-tricks.com/expanding-images-html5/ ]=== */

figure.expandable {
  &:hover {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(1deg);
    -webkit-box-shadow: 0 3px 10px #666;
    -moz-box-shadow: 0 3px 10px #666;
  }
  &:focus {
    outline: none;
    -webkit-transform: rotate(-3deg) scale(2.5);
    -moz-transform: rotate(-3deg) scale(2.5);
    -webkit-box-shadow: 0 3px 10px #666;
    -moz-box-shadow: 0 3px 10px #666;
    z-index: 9999;
  }
}