/** 
 * The expand / collapse button
 * =============================== 
 */

@import "globals/config";

a.faqtoggle {
  background: url('#{$cdn_img}img/buttons/faq_buttons.png') no-repeat;
  width: 80px;
  height: 38px;
  position: absolute;
  right: 50px;
  overflow: hidden;
  border: none !important;
}

a.faqtoggle.expand:hover {
  background-position: 0 -38px
}

a.faqtoggle.collapse {
  background-position: 0 -76px
}

a.faqtoggle.collapse:hover {
  background-position: 0 bottom
}

/* ===[ Definition Lists ]=== */

.QAs>.ans {
  overflow: hidden
}

.QAs>.ans {
  transition: height .9s ease-out;
  -webkit-transition: height .9s ease-out;
  -moz-transition: height .9s ease-out;
  -khtml-transition: height .9s ease-out;
  -o-transition: height .9s ease-out;
  -ms-transition: height .9s ease-out;
}

input.toggleCB {
  display: none
}

input.toggleCB + label {
  width: 100%;
  text-align: left;
}

input.toggleCB:checked ~ label {

}

input.toggleCB:checked + label + .ans {
  height: 0;
  margin: 0;
  padding: 0;
}

.ques {
  padding-left: 25px;
  position: relative;
  cursor: pointer;
}

.ques .icon {
  background: url('#{$cdn_img}img/bullets/faq_bullets.png') no-repeat left bottom;
  height: 12px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 12px;
}

input.toggleCB:checked + label .ques .icon {
  background-position: left top
}

.ans {
  padding-left: 25px
}