.sky_back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -ms-animation-iteration-count: infinite;
}

.sky_background {
  background: url(http://s.abhishekmunie.com/img/bg/stars_3/stars_background.png) repeat 5% 5%;
  z-index: 0;
}

.animations-on .sky_background {
  animation-name: moving-star-background-rev;
  animation-duration: 240s;
  -webkit-animation-name: moving-star-background-rev;
  -webkit-animation-duration: 240s;
  -moz-animation-name: moving-star-background-rev;
  -moz-animation-duration: 240s;
  -ms-animation-name: moving-star-background-rev;
  -ms-animation-duration: 240s;
}

.sky_midground {
  background: url(http://s.abhishekmunie.com/img/bg/stars_3/img/stars_midground.png) repeat 20% 20%;
  z-index: 1;
}

.animations-on .sky_midground {
  animation-name: moving-star-background;
  animation-duration: 480s;
  -webkit-animation-name: moving-star-background;
  -webkit-animation-duration: 480s;
  -moz-animation-name: moving-star-background;
  -moz-animation-duration: 480s;
  -ms-animation-name: moving-star-background;
  -ms-animation-duration: 480s;
}

.sky_foreground {
  background: url(http://s.abhishekmunie.com/img/bg/stars_3/img/stars_foreground.png) repeat 90% 110%;
  z-index: 2;
}

.animations-on .sky_foreground {
  animation-name: moving-star-background;
  animation-duration: 150s;
  -webkit-animation-name: moving-star-background;
  -webkit-animation-duration: 150s;
  -moz-animation-name: moving-star-background;
  -moz-animation-duration: 150s;
  -ms-animation-name: moving-star-background;
  -ms-animation-duration: 150s;
}