@font-face {
  font-family: 'AllerBold';
  src: url('fonts/aller_bd-webfont.eot');
  src: url('fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/aller_bd-webfont.woff') format('woff'),
       url('fonts/aller_bd-webfont.ttf') format('truetype'),
       url('fonts/aller_bd-webfont.svg#AllerBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

.font-AllerBold {
  font-family: 'AllerBold';
}