@font-face {
  font-family: 'FanwoodItalic';
  src: url('fonts/fanwood-italic-openamp.eot');
  src: url('fonts/fanwood-italic-openamp.eot?iefix') format('eot'),
     url('fonts/fanwood-italic-openamp.woff') format('woff'),
     url('fonts/fanwood-italic-openamp.ttf') format('truetype'),
     url('fonts/fanwood-italic-openamp.svg#webfontXaokfL3V') format('svg');
  font-weight: normal;
  font-style: normal;
}

.font-FanwoodItalic {
  font-family: 'FanwoodItalic';
}