@import "base";

.TopNavElement {
  height: 59px
}

.TopNavContainer {
  top: 0;
  border: 0;
  position: relative;
  z-index: 99999;
  min-width: 100%;
  display: block;
}

.TopNavContainer * {
  height: 100%
}

.TopNavBar {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  border: 0;
  text-align: center;
  position: relative;
  z-index: 99999;
  display: block;
}

nav .TopNav {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  width: 85%;
  margin: 0 auto;
  left: 0;
  border: 0;
  display: block;
  position: relative;
  box-shadow: 0 0 300px 15px #0C0F12;
  -moz-box-shadow: 0 0 300px 15px #0C0F12;
  -webkit-box-shadow: 0 0 300px 15px #0C0F12;
  -o-box-shadow: 0 0 300px 15px #0C0F12;
  -khtml-box-shadow: 0 0 300px 15px #0C0F12;
  -ms-box-shadow: 0 0 300px 15px #0C0F12;
}

.TopMainNavBox {
  left: 0;
  border: 0;
  margin: 3px auto 0;
  display: block;
  float: left;
  color: whitesmoke;
  width: 100%;
  height: 39px;
  position: relative;
  z-index: 33;
}

#MyLogo {
  float: left;
  margin: auto;
  padding: 5px 3px;
}

#MyLogoName {
  font-size: 33px;
  font-variant: small-caps;
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
  text-shadow: #555555 1px 1px 5px;
}

.mainNavList {
  font-size: 0;
  float: right;
  list-style: none;
  margin: 0;
  margin-left: 5px;
}

.mainNavList>li.navElement {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.mainNavList>li>a {
  font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 999;
  color: whitesmoke;
  border-top: 3px solid white;
  display: inline-block;
  cursor: pointer;
  padding: 9px 9px;
  font-size: 18px;
  font-variant: small-caps;
  text-align: center;
  vertical-align: middle;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
  color: #BBB;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .75);
  border-width: 0 2px 0 2px;
  border-image: url('#{$cdn_img}img/overlays/toolbarItemSelected.png') 0 2 0 2;
  -webkit-border-image: url('#{$cdn_img}img/overlays/toolbarItemSelected.png') 0 2 0 2;
  -moz-border-image: url('#{$cdn_img}img/overlays/toolbarItemSelected.png') 0 2 0 2;
  -o-border-image: url('#{$cdn_img}img/overlays/toolbarItemSelected.png') 0 2 0 2;
  -khtml-border-image: url('#{$cdn_img}img/overlays/toolbarItemSelected.png') 0 2 0 2;
  -ms-border-image: url('#{$cdn_img}img/overlays/toolbarItemSelected.png') 0 2 0 2;
}

.mainNavList>li>a:hover {
  color: white
}

.mainNavList>li.lavalampback {
  position: absolute;
  top: 3px;
  height: 36px;
  pointer-events: none;
  z-index: 10;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -khtml-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
}

.TopSubNav {
  width: 100%;
  float: left;
  height: 30px;
  position: absolute;
  left: 0;
  top: 39px;
  z-index: 0;
}

.mainNavList>li>div.TopSubNav {
  overflow: hidden;
  display: none;
}

.mainNavList>li.selected>div.TopSubNav {
  display: block
}

.mainNavList>li:hover>div.TopSubNav {
  display: block;
  z-index: 9;
}

.subNavList li {
  float: left
}