/* ============================================================================================================= *
 * =============================================== COLOR SCHEMES =============================================== *
 * ============================================================================================================= */

@import "base";

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~BLUE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #3e9ad2 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

a.blue {
  color: #3e9ad2;
}

.blue {
  button {
    color: #3e9ad2;
  }
  a:hover {
    color: black;
  }
  button {
    &:hover, &:focus {
      color: black;
    }
  }
  a {
    &:focus, &:active {
      color: black;
    }
  }
  ul#siteNavigation li a {
    color: #3e9ad2;
  }
  #secondNavigation {
    background: #3e9ad2;
  }
  .artworkOverlay {
    background: url('#{$img}officialfiles/img/blueArt.png');
  }
  .landingBlocks > ul > li > .box {
    border-color: #3e9ad2;
  }
  #slideshowThumbs ul li {
    &:hover, &.selected {
      border-bottom-color: #3e9ad2;
    }
  }
  #thumbsMask .selected {
    background: #3e9ad2;
  }
  #slideshowBar {
    background-color: #3e9ad2;
    > a {
      border-color: #76b7df;
    }
  }
  .progressTracks, .progressBar {
    border-color: #9fcde9;
  }
  .imgInfoLeft, .imgInfoRight, .imgLeft, .imgRight, .imgSkipRight, .imgSkipLeft, .overlayContent {
    background-color: #3e9ad2;
  }
  .loaderImg {
    background: #3e9ad2;
    span {
      background: url('#{$img}officialfiles/img/blueLoader.gif');
    }
  }
  .form {
    .error {
      border-color: #3e9ad2 !important;
    }
    .validationMessages {
      color: #3e9ad2;
    }
    .labelError {
      background-image: url('#{$img}officialfiles/img/blueAsterisk.png');
    }
  }
  .termsTemplate .message {
    color: #3e9ad2;
    font-weight: bold;
  }
  .errorTemplate h1 {
    color: #3e9ad2;
  }
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

/* SLIDESHOW --------------------------------------------------------------*/

/* - standard form - */

/* - error template - */

li.blueNav {
  a strong {
    color: #3e9ad2;
  }
  div.menubutton {
    background-color: #3e9ad2;
  }
}

nav .blue {
  background-color: #3e9ad2;
  div.TopSubNav {
    background-color: #3e9ad2;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~DARK ORANGE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #b38e01 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

.darkOrange {
  a {
    color: #b38e01;
    &:hover {
      color: black;
    }
  }
  .backLink, .upLink {
    background-color: #b38e01;
  }
}

.downLink {
  background-color: #b38e01;
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

.darkOrange {
  ul#siteNavigation li a {
    color: #b38e01;
  }
  #secondNavigation {
    background: #b38e01;
  }
  .artworkOverlay {
    background: url('#{$img}officialfiles/img/darkOrangeArt.png');
  }
  .landingBlocks > ul > li > .box {
    border-color: #b38e01;
  }
}

li.darkOrangeNav {
  a strong {
    color: #b38e01;
  }
  div.menubutton {
    background-color: #b38e01;
  }
}

nav .darkOrange {
  background-color: #b38e01;
  div.TopSubNav {
    background-color: #b38e01;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FACEBOOK~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: ##3b5998 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

.facebook {
  a {
    color: #3b5998;
    &:hover {
      color: black;
    }
  }
  ul#siteNavigation li a {
    color: #3b5998;
  }
  #secondNavigation {
    background-color: #3b5998;
  }
  .artworkOverlay {
    background-image: url('#{$img}officialfiles/img/facebookArt.png');
  }
  .landingBlocks > ul > li > .box {
    border-color: #3b5998;
  }
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

li.facebookNav {
  a strong {
    color: #3b5998;
  }
  div.menubutton {
    background-color: #3b5998;
  }
}

nav .facebook {
  background-color: #3b5998;
  div.TopSubNav {
    background-color: #3b5998;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~PURPLE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #b38e01 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

.purple {
  a {
    color: #a27292;
    &:hover {
      color: black;
    }
  }
  ul#siteNavigation li a {
    color: #a27292;
  }
  #secondNavigation {
    background: #a27292;
  }
  .artworkOverlay {
    background: url('#{$img}officialfilesImages/purpleArt.png');
  }
  .landingBlocks > ul > li > .box {
    border-color: #a27292;
  }
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

li.purpleNav {
  a strong {
    color: #a27292;
  }
  div.menubutton {
    background-color: #a27292;
  }
}

nav .purple {
  background-color: #a27292;
  div.TopSubNav {
    background-color: #a27292;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~RED~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #bd542a */

/* GENERAL SHARED STYLES ----------------------------------------------*/

.red {
  a, button {
    color: #bd542a;
  }
  a:hover {
    color: black;
  }
  button {
    &:hover, &:focus {
      color: black;
    }
  }
  a {
    &:focus, &:active {
      color: black;
    }
  }
  ul#siteNavigation li a {
    color: #bd542a;
  }
  #secondNavigation {
    background: #bd542a;
  }
  .artworkOverlay {
    background: url('#{$img}officialfiles/img/redArt.png');
  }
  .landingBlocks > ul > li > .box {
    border-color: #bd542a;
  }
  .form {
    .error {
      border-color: #bd542a !important;
    }
    .validationMessages {
      color: #bd542a;
    }
    .labelError {
      background-image: url('#{$img}officialfiles/img/redAsterisk.png');
    }
  }
  .messagesTemplate .message {
    color: #BD542A;
    font-weight: bold;
  }
}

/* GLOBAL SHARED STYLES -----------------------------------------------*/

/* - standard form - */

li.red {
  a strong {
    color: #bd542a;
  }
  div.menubutton {
    background-color: #bd542a;
  }
}

nav .red {
  background-color: #bd542a;
  div.TopSubNav {
    background-color: #bd542a;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~TEAL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #0c9895 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

.teal {
  a {
    color: #0c9895;
    &:hover {
      color: black;
    }
  }
  ul#siteNavigation li a {
    color: #0c9895;
  }
  #secondNavigation {
    background-color: #0c9895;
  }
  .artworkOverlay {
    background-image: url('#{$img}officialfiles/img/tealArt.png');
  }
  .landingBlocks > ul > li > .box {
    border-color: #0c9895;
  }
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

li.tealNav {
  a strong {
    color: #0c9895;
  }
  div.menubutton {
    background-color: #0c9895;
  }
}

nav .teal {
  background-color: #0c9895;
  div.TopSubNav {
    background-color: #0c9895;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~XMAS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #076e48 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

/*a, button { color: #076e48;  }_NO__DOTCOMMA__AFTER___NO__DOTCOMMA__AFTER__*/

.xmas {
  a:hover {
    color: black;
  }
  button {
    &:hover, &:focus {
      color: black;
    }
  }
  a {
    &:focus, &:active {
      color: black;
    }
  }
  ul#siteNavigation li a {
    color: #076e48;
  }
  #secondNavigation {
    background: #076e48;
  }
  .artworkOverlay {
    background: url('#{$img}officialfiles/img/xmasArt.png');
  }
  .artworkOverlayflip {
    background: url('#{$img}officialfiles/img/xmasArt-flip.png');
  }
  .landingBlocks > ul > li > .box {
    border-color: #076e48;
  }
  #slideshowThumbs ul li {
    &:hover, &.selected {
      border-bottom-color: #076e48;
    }
  }
  #thumbsMask .selected {
    background: #076e48;
  }
  #slideshowBar {
    background-color: #076e48;
    > a {
      border-color: #76b7df;
    }
  }
  .progressTracks, .progressBar {
    border-color: #9fcde9;
  }
  .imgInfoLeft, .imgInfoRight, .imgLeft, .imgRight, .imgSkipRight, .imgSkipLeft, .overlayContent {
    background-color: #076e48;
  }
  .loaderImg {
    background: #076e48;
    span {
      background: url('#{$img}officialfiles/img/xmasLoader.gif');
    }
  }
  .form {
    .error {
      border-color: #076e48 !important;
    }
    .validationMessages {
      color: #076e48;
    }
    .labelError {
      background-image: url('#{$img}officialfiles/img/blueAsterisk.png');
    }
  }
  .termsTemplate .message {
    color: #076e48;
    font-weight: bold;
  }
  .errorTemplate h1 {
    color: #076e48;
  }
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

/* SLIDESHOW --------------------------------------------------------------*/

/* - standard form - */

/* - error template - */

li.xmasNav {
  a strong {
    color: #076e48;
  }
  div.menubutton {
    background-color: #076e48;
  }
}

nav .xmas {
  background-color: #076e48;
  div.TopSubNav {
    background-color: #076e48;
  }
}