/* ============================================================================================================= *
 * =============================================== COLOR SCHEMES =============================================== *
 * ============================================================================================================= */

@import "base";

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~BLUE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #3e9ad2 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

a.blue,
.blue button {
  color: #3e9ad2
}

.blue a:hover,
.blue button:hover,
.blue button:focus,
.blue a:focus,
.blue a:active {
  color: #000
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

.blue ul#siteNavigation li a {
  color: #3e9ad2
}

.blue #secondNavigation {
  background: #3e9ad2
}

.blue .artworkOverlay {
  background: url(#{$img}officialfiles/img/blueArt.png)
}

.blue .landingBlocks > ul > li > .box {
  border-color: #3e9ad2
}

/* SLIDESHOW --------------------------------------------------------------*/

.blue #slideshowThumbs ul li:hover,
.blue #slideshowThumbs ul li.selected {
  border-bottom-color: #3e9ad2
}

.blue #thumbsMask .selected {
  background: #3e9ad2
}

.blue #slideshowBar {
  background-color: #3e9ad2
}

.blue #slideshowBar > a {
  border-color: #76b7df
}

.blue .progressTracks {
  border-color: #9fcde9
}

.blue .progressBar {
  border-color: #9fcde9
}

.blue .imgInfoLeft,
.blue .imgInfoRight,
.blue .imgLeft,
.blue .imgRight,
.blue .imgSkipRight,
.blue .imgSkipLeft {
  background-color: #3e9ad2
}

.blue .overlayContent {
  background-color: #3e9ad2
}

.blue .loaderImg {
  background: #3e9ad2
}

.blue .loaderImg span {
  background: url('#{$img}officialfiles/img/blueLoader.gif')
}

/* - standard form - */

.blue .form .error {
  border-color: #3e9ad2 !important
}

.blue .form .validationMessages {
  color: #3e9ad2
}

.blue .form .labelError {
  background-image: url('#{$img}officialfiles/img/blueAsterisk.png')
}

.blue .termsTemplate .message {
  color: #3e9ad2;
  font-weight: bold;
}

/* - error template - */

.blue .errorTemplate h1 {
  color: #3e9ad2
}

li.blueNav a strong {
  color: #3e9ad2
}

li.blueNav div.menubutton {
  background-color: #3e9ad2
}

nav .blue {
  background-color: #3e9ad2
}

nav .blue div.TopSubNav {
  background-color: #3e9ad2
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~DARK ORANGE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #b38e01 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

.darkOrange a {
  color: #b38e01
}

.darkOrange a:hover {
  color: #000
}

.darkOrange .backLink,
.darkOrange .upLink,
.downLink {
  background-color: #b38e01
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

.darkOrange ul#siteNavigation li a {
  color: #b38e01
}

.darkOrange #secondNavigation {
  background: #b38e01
}

.darkOrange .artworkOverlay {
  background: url(#{$img}officialfiles/img/darkOrangeArt.png)
}

.darkOrange .landingBlocks > ul > li > .box {
  border-color: #b38e01
}

li.darkOrangeNav a strong {
  color: #b38e01
}

li.darkOrangeNav div.menubutton {
  background-color: #b38e01
}

nav .darkOrange {
  background-color: #b38e01
}

nav .darkOrange div.TopSubNav {
  background-color: #b38e01
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~FACEBOOK~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: ##3b5998 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

.facebook a {
  color: #3b5998
}

.facebook a:hover {
  color: #000
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

.facebook ul#siteNavigation li a {
  color: #3b5998
}

.facebook #secondNavigation {
  background-color: #3b5998
}

.facebook .artworkOverlay {
  background-image: url('#{$img}officialfiles/img/facebookArt.png')
}

.facebook .landingBlocks > ul > li > .box {
  border-color: #3b5998
}

li.facebookNav a strong {
  color: #3b5998
}

li.facebookNav div.menubutton {
  background-color: #3b5998
}

nav .facebook {
  background-color: #3b5998
}

nav .facebook div.TopSubNav {
  background-color: #3b5998
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~PURPLE~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #b38e01 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

.purple a {
  color: #a27292
}

.purple a:hover {
  color: #000
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

.purple ul#siteNavigation li a {
  color: #a27292
}

.purple #secondNavigation {
  background: #a27292
}

.purple .artworkOverlay {
  background: url('#{$img}officialfilesImages/purpleArt.png')
}

.purple .landingBlocks > ul > li > .box {
  border-color: #a27292
}

li.purpleNav a strong {
  color: #a27292
}

li.purpleNav div.menubutton {
  background-color: #a27292
}

nav .purple {
  background-color: #a27292
}

nav .purple div.TopSubNav {
  background-color: #a27292
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~RED~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #bd542a */

/* GENERAL SHARED STYLES ----------------------------------------------*/

.red a,
.red button {
  color: #bd542a
}

.red a:hover,
.red button:hover,
.red button:focus,
.red a:focus,
.red a:active {
  color: #000
}

/* GLOBAL SHARED STYLES -----------------------------------------------*/

.red ul#siteNavigation li a {
  color: #bd542a
}

.red #secondNavigation {
  background: #bd542a
}

.red .artworkOverlay {
  background: url('#{$img}officialfiles/img/redArt.png')
}

.red .landingBlocks > ul > li > .box {
  border-color: #bd542a
}

/* - standard form - */

.red .form .error {
  border-color: #bd542a !important
}

.red .form .validationMessages {
  color: #bd542a
}

.red .form .labelError {
  background-image: url('#{$img}officialfiles/img/redAsterisk.png')
}

.red .messagesTemplate .message {
  color: #BD542A;
  font-weight: bold;
}

li.red a strong {
  color: #bd542a
}

li.red div.menubutton {
  background-color: #bd542a
}

nav .red {
  background-color: #bd542a
}

nav .red div.TopSubNav {
  background-color: #bd542a
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~TEAL~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #0c9895 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

.teal a {
  color: #0c9895
}

.teal a:hover {
  color: #000
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

.teal ul#siteNavigation li a {
  color: #0c9895
}

.teal #secondNavigation {
  background-color: #0c9895
}

.teal .artworkOverlay {
  background-image: url('#{$img}officialfiles/img/tealArt.png')
}

.teal .landingBlocks > ul > li > .box {
  border-color: #0c9895
}

li.tealNav a strong {
  color: #0c9895
}

li.tealNav div.menubutton {
  background-color: #0c9895
}

nav .teal {
  background-color: #0c9895
}

nav .teal div.TopSubNav {
  background-color: #0c9895
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~XMAS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* COLOUR: #076e48 */

/* GENERAL SHARED STYLES ----------------------------------------------*/

/*a, button { color: #076e48;  }_NO__DOTCOMMA__AFTER___NO__DOTCOMMA__AFTER__*/

.xmas a:hover,
.xmas button:hover,
.xmas button:focus,
.xmas a:focus,
.xmas a:active {
  color: #000
}

/* GOLBAL SHARED STYLES -----------------------------------------------*/

.xmas ul#siteNavigation li a {
  color: #076e48
}

.xmas #secondNavigation {
  background: #076e48
}

.xmas .artworkOverlay {
  background: url(#{$img}officialfiles/img/xmasArt.png)
}

.xmas .artworkOverlayflip {
  background: url(#{$img}officialfiles/img/xmasArt-flip.png)
}

.xmas .landingBlocks > ul > li > .box {
  border-color: #076e48
}

/* SLIDESHOW --------------------------------------------------------------*/

.xmas #slideshowThumbs ul li:hover,
.xmas #slideshowThumbs ul li.selected {
  border-bottom-color: #076e48
}

.xmas #thumbsMask .selected {
  background: #076e48
}

.xmas #slideshowBar {
  background-color: #076e48
}

.xmas #slideshowBar > a {
  border-color: #76b7df
}

.xmas .progressTracks {
  border-color: #9fcde9
}

.xmas .progressBar {
  border-color: #9fcde9
}

.xmas .imgInfoLeft,
.xmas .imgInfoRight,
.xmas .imgLeft,
.xmas .imgRight,
.xmas .imgSkipRight,
.xmas .imgSkipLeft {
  background-color: #076e48
}

.xmas .overlayContent {
  background-color: #076e48
}

.xmas .loaderImg {
  background: #076e48
}

.xmas .loaderImg span {
  background: url('#{$img}officialfiles/img/xmasLoader.gif')
}

/* - standard form - */

.xmas .form .error {
  border-color: #076e48 !important
}

.xmas .form .validationMessages {
  color: #076e48
}

.xmas .form .labelError {
  background-image: url('#{$img}officialfiles/img/blueAsterisk.png')
}

.xmas .termsTemplate .message {
  color: #076e48;
  font-weight: bold;
}

/* - error template - */

.xmas .errorTemplate h1 {
  color: #076e48
}

li.xmasNav a strong {
  color: #076e48
}

li.xmasNav div.menubutton {
  background-color: #076e48
}

nav .xmas {
  background-color: #076e48
}

nav .xmas div.TopSubNav {
  background-color: #076e48
}